{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hangarin App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  </head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button class="overflow-x-hidden">

      <div class="d-flex justify-content-between align-items-center w-100 ms-2">
        <span class="navbar-brand">Hangarin</span>

        <div class="d-flex align-items-center gap-3">
          <span class="text-white">{{ model }}</span>
          <a href="{% url 'taskCreate' %}">
            <button class="btn btn-success">Add Task</button>
          </a>
          {% if details_active %}
            <a href="{% url 'taskUpdate' taskDetails.pk %}">
              <button class="btn btn-primary">Edit</button>
            </a>
            <a href="{% url 'taskDelete' taskDetails.pk %}">
              <button class="btn btn-danger">Delete</button>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row g-0"> 

      <div class="offcanvas-md offcanvas-start bg-light border-end col-md-2 p-0" 
           id="sidebar" 
           style="height: calc(100vh - 56px);">

        <div class="offcanvas-header d-md-none border-bottom">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar"></button>
        </div>

        <div class="offcanvas-body p-3 d-flex flex-column h-100">
          <ul class="nav flex-column w-100 vh-100 d-flex">
            <div class="mb-4"> 
              <span class="text-muted small fw-bold">OVERVIEW</span>
              <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="/">Dashboard</a></li>
            </div>
            <div class="mb-4">
              <span class="text-muted small fw-bold">TASK</span>
              <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'taskList' %}active{% endif %}" href="{% url 'taskList' %}">Task List</a></li>
              <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'taskCreate' %}active{% endif %}" href="{% url 'taskCreate' %}">Add Task</a></li>
            </div>
            <div>
              <span class="text-muted small fw-bold">MANAGE</span>
              <li class="nav-item"><a class="nav-link" href="">Category</a></li>
              <li class="nav-item"><a class="nav-link" href="">Priority</a></li>
            </div>
            <div class="mt-auto border-top bg-white w-100">
              <div class="dropup p-3">
                <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-2 flex-shrink-0" style="width: 32px; height: 32px;">
                    {{ user.username|slice:":1"|upper|default:"U" }}
                  </div>
                  <strong class="text-truncate">{{ user.username|default:"Guest" }}</strong>
                </a>
                <ul class="dropdown-menu shadow border w-100 mb-2">
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-person me-2"></i>Profile</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-gear me-2"></i>Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-danger" href="#"> <i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <main class="col-md-10 ms-sm-auto main-content">
        {% block content %}
        {% endblock %}  
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>