{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-5">
    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body bg-primary p-4 text-center">
            <h6 class="text-white mb-2">Total Tasks</h6>
            <h2 class="display-5 fw-bold mb-1 text-white">{{ total_tasks }}</h2>
            <small class="text-white mb-0 small fw-medium">All time</small>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body bg-success p-4 text-center">
            <h6 class="text-white mb-2">Completed Tasks</h6>
            <h2 class="display-5 fw-bold text-white">{{ completed }}</h2>
            <small class="text-white mb-0 small fw-medium">Done & dusted</small>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body bg-warning p-4 text-center">
            <h6 class="text-white mb-2">In Progress Tasks</h6>
            <h2 class="display-5 fw-bold text-white">{{ In_Progress }}</h2>
            <small class="text-white mb-0 small fw-medium">Currently active</small>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body bg-danger p-4 text-center">
            <h6 class="text-white mb-2">Pending Tasks</h6>
            <h2 class="display-5 fw-bold text-white">{{ Pending }}</h2>
            <small class="text-white mb-0 small fw-medium">Awaiting action</small>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body p-4 text-center">
            <h6 class="text-primary mb-2">Completion Rate</h6>
            <h2 class="display-5 fw-bold text-primary">{{ Completion_rate }}</h2>
            <small class="text-primary mb-0 small fw-medium">Accomplishment hit percentage</small>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body p-4 text-center">
            <h6 class="text-success mb-2">Compliancy Rate</h6>
            <h2 class="display-5 fw-bold text-success">{{ Compliancy_rate }}</h2>
            <small class="text-success mb-0 small fw-medium">Punctuality</small>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
        <div class="card-body p-4 text-center">
            <h6 class="text-danger mb-2">Deliquency Rate</h6>
            <h2 class="display-5 fw-bold text-danger">{{ Deliquency_rate }}</h2>
            <small class="text-danger mb-0 small fw-medium">Done late</small>
        </div>
        </div>
    </div>

    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
        <div class="col">
            <div class="card h-100 border-0 border-start border-secondary border-5 shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ optional }}</h4>

                <p class="text-muted mb-0" style="font-size: 0.75rem;">Optional priority</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0 border-start border-success border-5 shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ low }}</h4>
                <p class="text-muted mb-0" style="font-size: 0.75rem;">Low priority</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0 border-start border-info border-5 shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ medium }}</h4>
                <p class="text-muted mb-0" style="font-size: 0.75rem;">Medium priority</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0 border-start border-warning border-5 shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ high }}</h4>
                <p class="text-muted mb-0" style="font-size: 0.75rem;">High priority</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 border-0 border-start border-danger border-5 shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ critical }}</h4>
                <p class="text-muted mb-0" style="font-size: 0.75rem;">Critical priority</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-primary border-primary shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ work }}</h4>
                <p class="mb-0" style="font-size: 0.75rem;">Work tasks</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-info border-info shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ project }}</h4>
                <p class="mb-0" style="font-size: 0.75rem;">Project tasks</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-danger border-danger shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ school }}</h4>
                <p class="mb-0" style="font-size: 0.75rem;">School tasks</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-warning border-warning shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ personal }}</h4>
                <p class="mb-0" style="font-size: 0.75rem;">Personal tasks</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 text-success border border-success shadow-sm bg-light">
            <div class="card-body text-center d-flex flex-column justify-content-center p-2">
                <h4 class="fw-bold mb-0">{{ finance }}</h4>
                <p class="mb-0" style="font-size: 0.75rem;">Finance tasks</p>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}